@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz PiData</h1>
    <h2>By Hüseyin Yusuf Boyacı</h2>
    <p><a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>
